/**{
  border: solid red 1px;
}*/

header{
  background-color: forestgreen;
}
.tree{
  max-height: 200px;
  max-width: 200px;
}
.nav{
  float: right;
}

.no-bullets{
  list-style-type: none;
}

.name{
  font-size: 40pt;
  font-family: cursive;
}
