.header{
  background-image: url("agro1.jpg");
}

.no-bullets{
  list-style-type: none;
}

.name{
  font-size: 40pt;
  font-family: cursive;
}

.employer{
  font-weight: bold;
  text-decoration: underline;;
}

.position{
  font-style: italic;
}

.col-md-9 .bg-green{
  background-color: #f5fffa;
  line-height: 30px;
}

.col-md-6 .bg-blue{
  background-color: #f5faff;
}

.bg-orange{
background-color: #f2cedd;
}

.date{
  padding: 10px;
}

.thumb{
  max-width: 100px;
  max-height: 150px;
  float: ;
}
.well h2{
  border: solid black 2px;
  margin: 5px;
  padding: 10px;
}
