/**{
  border: solid red 1px;
}*/

.header{
  background-image: url("agro1.jpg");
}
.tree{
  background-repeat: repeat-x;
}
/*.nav{
  float: right;*/
}

.no-bullets{
  list-style-type: none;
}

.name{
  font-size: 40pt;
  font-family: cursive;
}

.employer{
  font-weight: bold;
  text-decoration: underline;;
}

.position{
  font-style: italic;
}

.col-md-9 .bg-green{
  background-color: #f5fffa;
  line-height: 30px;
}

.col-md-6 .bg-blue{
  background-color: #f5faff;
}

.bg-orange{
background-color: #f2cedd;
}

.date{
  padding: 10px;
}
